*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-*
*.db-journal
lib
deps
tts
secrets.yaml
conf/secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore

custom_components/
*.pickle
gtfs/
*.sqlite
__pycache__/
